@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Lavishly+Yours&family=Molle&display=swap');

.akaya-kanadaka-regular {
    font-family: "Akaya Kanadaka", serif;
    font-weight: 400;
    font-style: normal;
  }

  
  .molle-regular-italic {
    font-family: "Molle", serif;
    font-weight: 400;
    font-style: italic;
  }

  
  .lavishly-yours-regular {
    font-family: "Lavishly Yours", serif;
    font-weight: 400;
    font-style: normal;
  }
  
