include includes/header.pug
body
  include includes/nav.pug
  //- Karuselis
  include includes/carousel.pug

  h1(class='lavishly-yours-regular text-center ') GalvenÄ
  p Hello, World!
  include /includes/footer.pug  